<header></header>
<div class="container-fluid">

</div>
<!--container-fluid-->
<div class="home-bg"><img src="" /></div>

<div class="middle md-whiteframe-z4" ng-init="headerSlider()">


  <h1>{{T.transHeadLine}}</h1>

  <div id="arches" class="responsive homepage">
    <div id="search-input">

      <form id="vr-search" method="post" ng-submit="search()">
        <select class="search-option location_select  form-control" ng-model="location">
          <option selected value="" disabled>{{T.transHeadWhere}}</option>
          <option value="0">{{T.transAllLocations}}</option>
          <option ng-repeat="location in locations" value="{{location._id}}">{{location.name}}</option>
        </select>
        <span class="date-fields">
        <booking-calendar></booking-calendar>
        </span>
        <md-button class="md-raised md-warn home-search-bt booking_search">{{T.transSearch}}</md-button>
      </form>

      <div style="display: none;" class="calendar-panel"><i class="previous icon-caret-left-circle inactive"></i><i class="next icon-caret-right-circle"></i>
        <div class="months"></div>
      </div>
    </div>
  </div>
</div>
<!--middle-->
<!--HotDeals-->
<div class="container-fluid content-offers">
  <div class="content">
    <div class="row">
      <div ng-repeat="property in HotDeals.properties" class="offer hvr-float md-whiteframe-z2 offerhome">
        <a ui-sref="property({id: property.property})">
      <img class="offerimg" src="img/property/{{property.property | lowercase}}/{{property.featured}}">
      <span class="offerhotprice offerhotpricehome">{{property.priceNight| currency: currency:0}}</span>
    </a>

        <div ui-sref="property({id: property.id})" class="offertitle offertitlehome">
          <p ng-if="HotDeals.hotdeals[property.id].hot" ng-bind-html="HotDeals.hotdeals[property.id].text"></p>
          <p ng-if="!HotDeals.hotdeals[property.id].hot">{{property.frontpage1}}</p>
        </div>
        <!--offertitle-->

        <p ui-sref="property({id: property.unique})" class="offerdescription">{{property.frontpage2}}</p>
      </div>
    </div>
    <a ng-click="search()" class="home-archive-btn md-button md-ink-ripple"><span class="ng-binding ng-scope">{{T.transMoreProperties}}</span><div class="md-ripple-container"></div></a>
    <div class="row home-news" ng-repeat="n in news">
      <div class="blue-border" ng-bind-html="deliberatelyTrustDangerousSnippet(n.text)"></div>
    </div>
    <md-button class="home-archive-btn" ng-class="{'pull-left': news.length == 0}" ui-sref="news">{{T.transMoreNews}}</md-button>
  </div>
</div>

<div class="clear"></div>

<footer></footer>