<nav class="navbar navbar-default pull-right" id="top-nav">
  <ul class="nav navbar-nav" ng-controller="Locale">
    <!--<li class="hot" ng-class="getClass('/home')">
      <a ui-sref="home" class="yellow-btn">
        <md-button class="md-raised">{{T.transHotDeals}}</md-button>
      </a>
    </li>-->
    <li class="dropdown crnc dropd" md-ink-ripple>
      <md-select aria-label="Select Currency" ng-change="updateCurrency(currency)" class="menu-lang pull-right" placeholder="{{currency}} {{currencyname}}" ng-model="currency">
        <md-option ng-repeat="currency in currencies | orderBy:'index'" value="{{currency.currency}}"><img class="lang-flag" ng-src="/assets/images/currencies/{{currency.currency | lowercase}}.png" /> {{currency.symbol}} {{currency.name}}</md-option>
      </md-select>
    </li>
    <li class="dropdown languages dropd" md-ink-ripple>
      <md-select aria-label="Select Language" ng-change="updateLanguage(language)" class="menu-lang language-selector-top" ng-model="language">
        <md-option ng-repeat="language in languages" value="{{language.shortname}}"><img class="lang-flag" ng-src="/assets/images/flags/{{language.shortname}}.png" /> {{language.name}}</md-option>
      </md-select>
    </li>
    <li class="contact">
      <a ng-if="!($state.current.name === 'contact')" ui-sref="contact" class="yellow-btn">
        <md-button class="md-raised">{{T.transContactUs}}</md-button>
      </a>
    </li>
    <li class="contact">
      <a ng-if="$state.current.name === 'contact' || $state.current.name === 'about'" ui-sref="home" class="yellow-btn">
        <md-button class="md-raised">{{T.transFrontpage}}</md-button>
      </a>
    </li>
    <li class="about">
      <a ng-if="!($state.current.name === 'about')" ui-sref="about" class="yellow-btn">
        <md-button class="md-raised">{{T.transAboutUs}}</md-button>
      </a>
    </li>
    <li>
      <a ui-sref="agent" class="agent-login-btn">
        <md-button class="md-raised">{{T.transAgentLogin}}</md-button>
      </a>
    </li>
  </ul>
  <md-menu md-position-mode="target-right target" class="second-menu-container">
    <md-button aria-label="" class="md-icon-button" ng-click="$mdOpenMenu()">
      <i class="material-icons">view_headline</i>
    </md-button>
    <md-menu-content>
      <ul class="nav second-nav" ng-controller="Locale">
        <!--
        <li ng-class="getClass('/')" md-ink-ripple>
          <a ui-sref="home">{{T.transHotDeals}}</a>
        </li>
        -->
        <li class="dropdown" md-ink-ripple>
          <md-select aria-label="Select Currency" ng-change="updateCurrency(currency)" class="menu-lang" placeholder="{{currency}} {{currencyname}}" ng-model="currency">
            <md-option ng-repeat="currency in currencies" value="{{currency.currency}}"><img class="lang-flag" ng-src="/assets/images/currencies/{{currency.currency | lowercase}}.png" /> {{currency.symbol}} {{currency.name}}</md-option>
          </md-select>
        </li>
        <li class="dropdown drop2" md-ink-ripple>
          <md-select aria-label="Select Language" ng-change="updateLanguage(language)" class="menu-lang language-selector" ng-model="language">
            <md-option ng-repeat="language in languages" value="{{language.shortname}}"><img class="lang-flag" ng-src="/assets/images/flags/{{language.shortname}}.png" /> {{language.name}}</md-option>
          </md-select>
        </li>
        <li ng-class="getClass('/contact')" md-ink-ripple>
          <a ui-sref="home">{{T.transFrontpage.toUpperCase()}}</a>
        </li>
        <li ng-class="getClass('/contact')" md-ink-ripple>
          <a ui-sref="contact">{{T.transContactUs}}</a>
        </li>
        <li ng-class="getClass('/about')" md-ink-ripple>
          <a ui-sref="about">{{T.transAboutUs}}</a>
        </li>
        <li md-ink-ripple>
          <a ui-sref="agent">{{T.transAgentLogin}}</a>
        </li>
      </ul>
    </md-menu-content>
  </md-menu>
