<div class="row">
  <div ng-repeat="property in HotDeals.properties" class="offer hvr-float md-whiteframe-z2 offerhome">
    <a ui-sref="property({id: property.unique})">
      <img class="offerimg" src="/assets/images/property/{{property.unique | lowercase}}/{{property.featured}}">
      <span class="offerhotprice offerhotpricehome">{{HotDeals.prices[property.id].price.price || HotDeals.prices[property.id].price[0].priceDay | currency: currency:0}}</span>
    </a>

    <div ui-sref="property({id: property.id})" class="offertitle offertitlehome">
      <p ng-if="HotDeals.hotdeals[property.id].hot" ng-bind-html="HotDeals.hotdeals[property.id].text"></p>
      <p ng-if="!HotDeals.hotdeals[property.id].hot">{{HotDeals.translations[property.id].texts[0].frontpage1}}</p>
    </div>
    <!--offertitle-->

    <p ui-sref="property({id: property.unique})" class="offerdescription">{{HotDeals.translations[property.id].texts[0].frontpage2}}</p>
  </div>
</div>